/*countinue Planning*/
.dashboard_title {
  margin: 24px 0 12px 0;
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 700;
  color: #2e313c;
}

.completed {
  padding-left: 24px;
  margin-bottom: 40px;
}

/* Mobile */
@media (max-width: 700px) {
}
