.popupBackground {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 24px;
}
.popupContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupBox {
  background: #fff;
  width: 100%;
  max-width: 500px;
  max-height: 80vh;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  overflow-y: auto;
}
.popupClose {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.popupBox_title {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 30px;
}
.popupBox_title_half_margin {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}
.popupBox_title_center {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}
.delete_notice {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
  span {
    display: block;
  }
}

/*Input box Title*/
.input_box_h3 {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 14px;
  margin: 24px 0 8px 0;
}

.edit_profile_view_image {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 24px;
  img {
    width: 136px;
    height: 136px;
    border-radius: 50%;
  }
}

/*line button*/
.line_button {
  color: #6276cc;
  margin-top: 24px;
  border: 1px solid #6276cc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full_bg_button {
  background: #6276cc;
  color: #fff;
  margin-top: 24px;
}
.cancel_button {
  margin-top: 24px;
  background: #dcdcdc;
}
.delete_button {
  margin-top: 10px;
  background: #c80000;
  color: #fff;
}
.popup_button_text {
  width: 100%;
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 5px;
}

/*Edit Traveler List*/
.edit_friends_list_wrap {
  :global {
    .edit_friends_list {
      margin-bottom: 72px;
      .edit_friends_list_item {
        margin-bottom: 8px;
        position: relative;
        .edit_friends_list_item_inner {
          border: 1px solid #e9e7f3;
          display: flex;
          background: #fff;
          border-radius: 30px;
          justify-content: space-between;
          padding: 8px;
          .left_info {
            display: flex;
            .edit_friends_list_item_image {
              width: 34px;
              height: 34px;
              border-radius: 50%;
              overflow: hidden;
            }
            .edit_friends_list_name {
              line-height: 30px;
              font-family: var(--poppins);
              font-weight: 400;
              font-size: 12px;
              padding: 0 10px;
            }
            .edit_friends_owner {
              font-family: var(--poppins);
              font-weight: 700;
              font-size: 12px;
              color: #867bd5;
              line-height: 30px;
              padding-right: 16px;
            }
          }
        }
        .edit_friend_delete {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 15px;
          right: 22px;
          opacity: 0.7;
          cursor: pointer;
        }
        .delete_check_box {
          margin-top: 12px;
          width: 100%;
          background: #eceef5;
          border-radius: 10px;
          padding: 20px 50px;
          font-family: var(--poppins);
          font-weight: 500;
          font-size: 12px;
          text-align: center;
          .delete_check_text {
            margin-bottom: 20px;
          }
          button {
            padding: 7px 20px;
            border-radius: 5px;
          }
          .delete_yes {
            background: #c80000;
            margin-right: 10px;
            color: #fff;
          }
          .delete_no {
            background: #dcdcdc;
          }
        }
      }
    }

    .add_traveler {
      border: 1px solid #e9e7f3;
      border-radius: 10px;
      padding: 20px;
      font-family: var(--poppins);
      font-weight: 500;
      font-size: 12px;
      text-align: center;
      .add_description {
        margin-bottom: 20px;
        span {
          display: block;
        }
      }
      .or {
        display: block;
        margin-top: 10px;
      }
      .scan_button {
        width: 100%;
        font-family: var(--poppins);
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        padding: 10px 0;
        border-radius: 5px;
        margin-top: 10px;
        background: #fff;
        .camera_icon {
          margin-right: 4px;
        }
      }
      .search_traveler_button {
        width: 100%;
        height: 40px;
        background: #6276cc;
        border-radius: 5px;
        color: #fff;
        margin-top: 10px;
        font-family: var(--poppins);
        font-weight: 500;
        font-size: 14px;
      }
    }

    .search_result {
      margin-top: 12px;
      background: #eceef5;
      border-radius: 10px;
      padding: 20px;
      font-family: var(--poppins);
      font-weight: 500;
      font-size: 12px;
      text-align: center;
      .notice_message {
        color: #c80000;
        margin-top: 10px;
      }
      .blue {
        color: #6276cc;
      }
    }
    .add_traveler_button {
      width: 100%;
      height: 40px;
      background: #6276cc;
      border-radius: 5px;
      color: #fff;
      margin-top: 10px;
      font-family: var(--poppins);
      font-weight: 500;
      font-size: 14px;
    }
  }
}

/*Add new Schedule : Single Plan*/
.input_checkbox_wrap {
  position: relative;
  &.disabled {
    .input_box_h3,
    .input_box {
      opacity: 0.5;
    }
  }
}

/*SelectBox*/
.select_box {
  border: 1px solid #6276cc;
  height: 44px;
  width: 100%;
  padding: 0 10px;
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
}
