/*Layout*/
body {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--poppins);
  font-weight: 700;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #877ad5 0%, #5e75cb 100%);
  color: #fff;
  height: 204px;
  width: 100%;
  padding: 24px;
  z-index: 100;
}
.container {
  padding: 0 24px;
}
.page_container {
  padding: 204px 24px 0 24px;
}
.page_container_swipe {
  padding: 204px 0 0 0;
  position: relative;
}
.page_container_middle {
  padding: 0 24px 0 24px;
}
.page_gray_bg {
  background: #f8f8f8;
  min-height: calc(100vh - 204px);
}
footer {
  background: #9aa1b8;
  height: 50px;
  margin-top: 24px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

/*Button*/
.add_new_button {
  width: 100%;
  height: 78px;
  background: #e7e8ec;
  border-radius: 10px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 500;
  color: #687398;
  cursor: pointer;
}
.back_button {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.bottom_line_button {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 14px;
  color: #6276cc;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 24px;
  div {
    border: 1px solid #6276cc;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
  }
}
