/*Layout - plan Header*/
.plan_background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.plan_title {
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
  display: inline-block;
  position: relative;
  padding-right: 70px;
  .plan_edit_button {
    background-color: #dadff1;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #867bd5;
    display: inline-block;
    line-height: 24px;
    border-radius: 24px;
    height: 24px;
    padding: 0 10px;
    margin-left: 10px;
    position: absolute;
    top: 5px;
    right: 0;
    padding-left: 24px;
    img {
      margin-right: 2px;
      position: absolute;
      top: 6px;
      left: 10px;
    }
  }
}
.plan_date {
  font-family: var(--inter);
  font-size: 14px;
  font-weight: 300;
}
.friend_join {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #e9e7f3;
  color: #867bd5;
  padding-left: 18px;
  height: 30px;
  line-height: 30px;
  display: flex;
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  div {
    width: 30px;
    height: 30px;
    background: #867bd5;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin-left: 8px;
  }
  strong {
    margin-right: 4px;
    color: #2e313c;
  }
}

/*Top 3 tabs*/
.plan_main {
  > div {
    position: relative;
  }
}
.main_tab {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  button {
    width: 100%;
    height: 100%;
    border: 0 none;
    border-radius: 15px 15px 0px 0px;
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }
  .main_tab1,
  .main_tab3 {
    background: #6276cc;
    color: #fff;
  }
  .main_tab2 {
    background: #867bd5;
    color: #fff;
  }
  .main_tab1.active,
  .main_tab2.active,
  .main_tab3.active {
    background: #fff;
    color: #2e313c;
  }
}

/*Days - swiper*/
.sub_tab_menu {
  height: 45px;
}
.sub_tab_swipe {
  height: 100%;
}
.sub_tab_item {
  border: 1px solid blue;
  padding: 0 24px;
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 43px;
  color: #9aa1b8;
  &.swiper-slide-active {
    /*왜 이 더블이 안먹힐까....????*/
    color: #2e313c;
    font-weight: 700;
  }
}
.sub_tab_item.swiper-slide-active {
  /*왜 이 더블이 안먹힐까....????*/
  color: #2e313c;
  font-weight: 700;
}
